<footer>
  <div class="footer-container">
    <!-- Logo -->
    <div class="footer-logo">
      <h1>JOE & THE JUICE</h1>
    </div>

    <!-- Links -->
    <div class="footer-links">
      <!-- About Section -->
      <div class="footer-column">
        <h3>About</h3>
        <ul>
            <li id="login"><a href="/login">Login</a></li>
            <li id="logout"><a href="#" onclick="logout();">Logout</a></li>
              <!-- Add any necessary CSRF tokens or hidden inputs here -->
            </form>
            <!-- Will be updated dynamically -->
          </li>
          <li><a href="/order">Place an order</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
