<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> <!-- Tilføj en CSS-fil, hvis nødvendig -->
  <title>Header</title>
</head>
<body>
    <nav>
      <ul>
        <a href="/" class="logo">
          <img src="/assets/Joe billede.svg" alt="Joe and the Juice Logo">
        </a>
        <li class="menu-elementer"><a href="/menu">Menu</a></li>
        <li class="menu-elementer"><a href="/contact">Contact</a></li>
        <li class="menu-elementer"><a href="/order">Order</a></li>
      </ul>
      
    </nav>
</body>
</html>